
<header class="site-header">
  <div class="wrap nav">
    <a class="brand" href="{{ '/' | relative_url }}">
      <span class="dot"></span><span class="brand__text">{{ site.title }}</span>
    </a>
    <nav class="menu">
      {% for item in site.nav %}
      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
      {% endfor %}
    </nav>
    <nav class="site-nav">
  <!-- menu khác -->
  {% if page.alt_url %}
    <a class="lang-switch" href="{{ page.alt_url | relative_url }}">
      {% if page.lang == "vi" %}English{% else %}Tiếng Việt{% endif %}
    </a>
  {% else %}
    <!-- fallback: đưa về /en/ hoặc /vi/ gốc -->
    <a class="lang-switch" href="{% if page.lang == 'vi' %}/en/{% else %}/vi/{% endif %}">EN / VI</a>
  {% endif %}
</nav>
  </div>
</header>
