<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
{%- seo -%}
{% if page.lang and page.alt_url %}
<link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url | absolute_url }}">
<link rel="alternate" hreflang="{{ page.lang == 'vi' ? 'en' : 'vi' }}" href="{{ page.alt_url | absolute_url }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
